-- CreateTable
CREATE TABLE `artist_stats` (
    `parent_id` INTEGER NOT NULL,
    `artist_id` CHAR(22) NOT NULL,
    `count` INTEGER NOT NULL,

    INDEX `artist_stats_artist_id_fk`(`artist_id`),
    PRIMARY KEY (`parent_id`, `artist_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `artist_stats_parent` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `date` DATE NOT NULL,
    `count` INTEGER NOT NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `artist_stats` ADD CONSTRAINT `artist_stats_artist_id_fk` FOREIGN KEY (`artist_id`) REFERENCES `artist`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `artist_stats` ADD CONSTRAINT `artist_stats_artist_stats_parent_id_fk` FOREIGN KEY (`parent_id`) REFERENCES `artist_stats_parent`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

