COMPOSE_FILE=docker-compose.yml:docker-compose.dev-ide.yml
NUXT_SESSION_PASSWORD=10a58ec11da4466ea03bd7bd4b62dcf1
DB_HOST=localhost
DB_PORT=3306
DB_NAME=hardstylegg
DB_USER=root
DB_PASSWORD=root
NUXT_PUBLIC_APP_URL=http://localhost:3000
NUXT_DISCORD_CLIENT_SECRET=SECRET_HERE
NUXT_PUBLIC_DISCORD_CLIENT_ID=CLIENT_ID_HERE
NUXT_SPOTIFY_CLIENT_ID=CLIENT_ID_HERE
NUXT_SPOTIFY_CLIENT_SECRET=SECRET_HERE
# TEST_COOKIES: enables cookies saving the game result and report
NUXT_PUBLIC_TEST_COOKIES=false