NUXT_SESSION_PASSWORD=10a58ec11da4466ea03bd7bd4b62dcf1
DATABASE_URL=mysql://root:root@127.0.0.1:3306/hardstylegg?allowPublicKeyRetrieval=true&useSSL=false
NUXT_PUBLIC_APP_URL=http://localhost:3000
NUXT_DISCORD_CLIENT_SECRET=SECRET_HERE
NUXT_PUBLIC_DISCORD_CLIENT_ID=CLIENT_ID_HERE