-- CreateTable
CREATE TABLE `album_artist` (
    `album_id` CHAR(22) NOT NULL,
    `artist_id` CHAR(22) NOT NULL,

    INDEX `album_artist_artist_id_fk`(`artist_id`),
    PRIMARY KEY (`album_id`, `artist_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `album_track` (
    `album_id` CHAR(22) NOT NULL,
    `track_id` CHAR(22) NOT NULL,
    `index` INTEGER NOT NULL,

    INDEX `album_track_track_sid_fk`(`track_id`),
    PRIMARY KEY (`album_id`, `track_id`, `index`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `artist` (
    `id` CHAR(22) NOT NULL,
    `name` VARCHAR(128) NOT NULL,
    `image` CHAR(40) NULL,

    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `radar_inbox` (
    `content_id` CHAR(22) NOT NULL,
    `added_on` DATE NOT NULL DEFAULT (curdate()),
    `album` BIT(1) NOT NULL DEFAULT b'0',
    `data` TEXT NOT NULL,

    PRIMARY KEY (`content_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `track_artist` (
    `track_id` CHAR(22) NOT NULL,
    `artist_id` CHAR(22) NOT NULL,

    INDEX `track_artist_artist_id_fk`(`artist_id`),
    PRIMARY KEY (`track_id`, `artist_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `album_artist` ADD CONSTRAINT `album_artist_album_sid_fk` FOREIGN KEY (`album_id`) REFERENCES `album`(`sid`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `album_artist` ADD CONSTRAINT `album_artist_artist_id_fk` FOREIGN KEY (`artist_id`) REFERENCES `artist`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `album_track` ADD CONSTRAINT `album_track_album_sid_fk` FOREIGN KEY (`album_id`) REFERENCES `album`(`sid`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `album_track` ADD CONSTRAINT `album_track_track_sid_fk` FOREIGN KEY (`track_id`) REFERENCES `track`(`sid`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `track_artist` ADD CONSTRAINT `track_artist_artist_id_fk` FOREIGN KEY (`artist_id`) REFERENCES `artist`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `track_artist` ADD CONSTRAINT `track_artist_track_sid_fk` FOREIGN KEY (`track_id`) REFERENCES `track`(`sid`) ON DELETE CASCADE ON UPDATE CASCADE;

