@import "tailwindcss";
@import 'vue-advanced-cropper/dist/style.css';
@import '@fontsource-variable/geist-mono/wght.css';
@import '@fontsource/anton';
@import '@fontsource-variable/sora/wght.css';

@plugin "daisyui" {
  themes: light --default, night --prefersdark;
}

.input:focus, .input:focus-within, .select:focus, .select:focus-within, .textarea:focus, .textarea:focus-within {
    outline: none;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.sora, h1 {
    font-family: 'Sora Variable', sans-serif;
}

.geist-mono {
    font-family: 'Geist Mono', monospace;
}