-- CreateTable
CREATE TABLE `album` (
    `sid` CHAR(22) NOT NULL,
    `artists` VARCHAR(128) NULL,
    `title` VARCHAR(128) NULL,
    `year` YEAR NULL,
    `cover_art` CHAR(40) NULL,

    PRIMARY KEY (`sid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_artwork` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,
    `track_id` CHAR(22) NOT NULL,
    `artwork_blank` VARCHAR(64) NOT NULL,

    INDEX `game_artwork_track_sid_fk`(`track_id`),
    INDEX `game_artwork_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_complete_album` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,

    INDEX `game_complete_album_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_complete_album_item` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `parent_id` INTEGER NOT NULL,
    `name` VARCHAR(128) NOT NULL,
    `artist` VARCHAR(128) NOT NULL,
    `hidden` BIT(1) NOT NULL DEFAULT b'0',

    INDEX `game_complete_album_item_8_game_complete_album_id_fk`(`parent_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_complete_lyrics` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,
    `description` VARCHAR(128) NOT NULL,
    `text` TEXT NOT NULL,

    INDEX `game_complete_lyrics_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_heardle` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,
    `track_id` CHAR(22) NOT NULL,
    `src` VARCHAR(64) NOT NULL,
    `durations` VARCHAR(128) NOT NULL,

    INDEX `game_heardle_track_sid_fk`(`track_id`),
    INDEX `game_heardle_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_namex` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,
    `title` VARCHAR(128) NOT NULL,
    `goal` INTEGER NOT NULL,
    `items` VARCHAR(512) NOT NULL,

    INDEX `game_namex_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_order` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,
    `title` VARCHAR(64) NOT NULL,
    `show_names` BIT(1) NOT NULL DEFAULT b'1',

    INDEX `game_order_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_order_item` (
    `parent_id` INTEGER NOT NULL,
    `index` INTEGER NOT NULL,
    `track_id` CHAR(22) NOT NULL,

    INDEX `game_order_item_track_sid_fk`(`track_id`),
    PRIMARY KEY (`parent_id`, `index`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_quiz` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,
    `title` VARCHAR(128) NULL,

    INDEX `game_quiz_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_quiz_item` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `parent_id` INTEGER NOT NULL,
    `text` VARCHAR(64) NOT NULL,
    `correct` BIT(1) NOT NULL DEFAULT b'0',

    INDEX `game_quiz_item_game_quiz_id_fk`(`parent_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_timeline` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,
    `title` VARCHAR(128) NOT NULL,
    `goal` YEAR NOT NULL,

    INDEX `game_timeline_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_timetable` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `created_by` INTEGER NOT NULL,
    `description` VARCHAR(128) NOT NULL,
    `color_bg` CHAR(6) NOT NULL,
    `color_text` CHAR(6) NOT NULL,

    INDEX `game_timetable_user_id_fk`(`created_by`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `game_timetable_item` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `parent_id` INTEGER NOT NULL,
    `name` VARCHAR(64) NOT NULL,
    `begin` VARCHAR(5) NULL,
    `end` VARCHAR(5) NULL,
    `hidden` BIT(1) NOT NULL DEFAULT b'0',

    INDEX `game_timetable_item_game_timetable_id_fk`(`parent_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `track` (
    `sid` CHAR(22) NOT NULL,
    `artists` VARCHAR(128) NULL,
    `title` VARCHAR(128) NULL,
    `year` YEAR NULL,
    `cover_art` CHAR(40) NULL,

    PRIMARY KEY (`sid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `user` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(32) NOT NULL,
    `password` CHAR(60) NOT NULL,

    UNIQUE INDEX `user_name_uindex`(`name`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `game_artwork` ADD CONSTRAINT `game_artwork_track_sid_fk` FOREIGN KEY (`track_id`) REFERENCES `track`(`sid`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_artwork` ADD CONSTRAINT `game_artwork_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_complete_album` ADD CONSTRAINT `game_complete_album_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_complete_album_item` ADD CONSTRAINT `game_complete_album_item_8_game_complete_album_id_fk` FOREIGN KEY (`parent_id`) REFERENCES `game_complete_album`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `game_complete_lyrics` ADD CONSTRAINT `game_complete_lyrics_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_heardle` ADD CONSTRAINT `game_heardle_track_sid_fk` FOREIGN KEY (`track_id`) REFERENCES `track`(`sid`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_heardle` ADD CONSTRAINT `game_heardle_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_namex` ADD CONSTRAINT `game_namex_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_order` ADD CONSTRAINT `game_order_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_order_item` ADD CONSTRAINT `game_order_item_game_order_id_fk` FOREIGN KEY (`parent_id`) REFERENCES `game_order`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `game_order_item` ADD CONSTRAINT `game_order_item_track_sid_fk` FOREIGN KEY (`track_id`) REFERENCES `track`(`sid`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_quiz` ADD CONSTRAINT `game_quiz_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_quiz_item` ADD CONSTRAINT `game_quiz_item_game_quiz_id_fk` FOREIGN KEY (`parent_id`) REFERENCES `game_quiz`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE `game_timeline` ADD CONSTRAINT `game_timeline_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_timetable` ADD CONSTRAINT `game_timetable_user_id_fk` FOREIGN KEY (`created_by`) REFERENCES `user`(`id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `game_timetable_item` ADD CONSTRAINT `game_timetable_item_game_timetable_id_fk` FOREIGN KEY (`parent_id`) REFERENCES `game_timetable`(`id`) ON DELETE CASCADE ON UPDATE CASCADE;

